<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f4ba69c5-0595-41f4-a676-50ae95123e7f" name="Regression Test Suite" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="f4ba69c5-0595-41f4-a676-50ae95123e7ffileName">Regression-Test-Suite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>